@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

.ag-theme-alpine {
  .ag-scroller-corner {
    border-radius: 0;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 80px;
    -webkit-box-shadow: inset 0 0 6px $generalColor;
  }
}

body {
  background-color: $bgcolor;
  width: 100%;
  height: 100%;
}

header,
footer,
main {
  width: 100%;
  min-width: 350px;
}
header,
footer {
  height: 10%;
}
main {
  position: relative;
  height: auto;
  min-height: 600px;
  height: 80%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  h1 {
    font-size: 70px;
    font-weight: bolder;
    cursor: context-menu;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
    height: auto;
  }
}

.school {
  padding-right: 10px;
}

.paternity {
  padding-left: 10px;
  display: flex;
  p,
  a {
    margin-right: 10px;
  }
  .paternity__name-first,
  .paternity__name-second {
    color: $generalColor;
    font-weight: bolder;
    font-size: 20px;
  }
}

.swiper-container {
  max-width: 1300px;
  min-height: 300px;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  line-height: 26px;
  font-size: 20px;
  font-weight: bolder;
  background-color: $generalColor;
  color: $textOnBLack;
}

#global {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    max-height: 490px;
    height: 80%;
    min-height: 400px;
    background-color: $generalColor;

    .table__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $textOnBLack;

      .table__info_title {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
        cursor: context-menu;
      }
      .table__info_counter {
        font-size: 40px;
        font-weight: bold;
        cursor: context-menu;
      }
    }

    .table__button {
      display: flex;
      cursor: pointer;
      height: 70px;
      flex-wrap: wrap;

      button {
        background-color: $buttonColor;
        flex-basis: 24%;
        color: $textOnBLack;
        padding-top: 10px;
        padding-bottom: 10px;
        &:hover {
          color: $hover;
          cursor: pointer;
        }
      }
      .table__button_recovered {
        flex-grow: 1;
      }
      .table__button_date {
        flex-basis: 100%;
      }
    }

    .table__indicators {
      background-color: $table;
      flex-grow: 1;
    }
  }

  .graph {
    width: 65%;
    max-height: 600px;
    height: 80%;
    min-height: 400px;
    margin-left: 20px;
    margin-right: 2%;
  }
}

#individual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    max-height: 600px;
    height: 80%;
    min-height: 400px;
    background-color: $generalColor;

    .search {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 50px;

      .search__input {
        width: auto;
        height: 30px;
        border: none;
      }

      .search__button {
        height: 30px;
        border-radius: 10px;
        background-color: $textOnBLack;
        &:hover {
          background-color: $hover;
          cursor: pointer;
        }
      }
    }

    .country {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 50px;
      padding-top: 20px;
      padding-bottom: 10px;
      background-color: $table;
      cursor: context-menu;
      .country__flag {
        width: 40px;
        height: 30px;
        background-color: $buttonColor;
        margin-right: 10px;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .country__name {
        font-size: 30px;
      }
    }

    .indicators {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: $table;

      .case,
      .deat,
      .recover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        border-top: 1px solid $generalColor;
        font-size: 25px;
        cursor: context-menu;
      }

      .recover {
        .recover__count {
          margin-top: 15px;
          font-size: 30px;
          font-weight: bold;
        }
      }
      .deat {
        .deat__count {
          margin-top: 15px;
          font-size: 30px;
          font-weight: bold;
        }
      }
      .case {
        display: flex;
        justify-content: center;
        align-items: center;
        .case__count {
          margin-top: 15px;
          font-size: 30px;
          font-weight: bold;
        }
      }
    }

    .toggles {
      display: flex;
      justify-content: space-between;
      height: 50px;
      button {
        width: 150px;
        height: 50px;
        background-color: $buttonColor;
        color: $textOnBLack;
        font-size: 20px;
        font-weight: bold;

        &:hover {
          color: $hover;
          cursor: pointer;
        }
      }
    }
  }

  .window {
    position: relative;
    width: 65%;
    max-height: 600px;
    height: 80%;
    min-height: 400px;
    margin-left: 20px;
    .window__graph {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 15;
      transition: all 0.5s;
    }

    .window__map {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 15;
      transition: all 0.5s;

      #mapid {
        width: 100%;
        height: 100%;
      }
    }

    .active {
      z-index: 555;
      opacity: 1;
    }
  }
}

canvas {
  width: 100%;
  height: 100%;
}

@media (max-width: 1050px) {
  #global {
    .graph {
      width: 50%;
    }
  }

  #individual {
    .window {
      width: 50%;
    }
  }
}

@media (max-width: 916px) {
  #global {
    .table {
      height: 15%;
    }
    .graph {
      display: none;
      width: 90%;
      margin-left: 0;
    }
  }

  #individual {
    .table {
      height: 15%;
    }
    .window {
      display: none;
      width: 90%;
      margin-left: 0;
    }
  }
}
