$mainFont: "Montserrat", Helvetica, Arial, sans-serif;

$bgcolor: #f1f1f2;
$generalColor: #006c84;
$buttonColor: #006c84;
$searchButtonColor: #e2e8e4;
$textOnWhite: #006c84;
$borderColor: #006c84;
$textOnBLack: #e2e8e4;
$graph: #ffccbb;
$hover: #bcbabe;
$countriesList: #f8f8f8;
$countryInfo: #f8f8f8;
